TRACEBACK_LIMIT=0 # | 0 1 2 3
DB_URL=sqlite:///py_tank_game.db # Any db, MySql, Postgress, SqLite by default
TOKEN_SERVER=http://127.0.0.1:5000/api/me # Inbuild dev auth server, for development purposes only or http://127.0.0.1:8800/o/introspect/ when using external ouath server
ENVIRONMENT=dev # dev || staging || prod